{% extends "base.html" %}

{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="wrap">
	<div class="profile">
	  <div class="photo">
		<div class="img"></div>
	  </div>
	  <br>
	  <span class="profile_name">Rachael Drayton</span>
	</div>
	<a class="custom-btn btn-8" href="https://rdrayton.myrandf.com/en-us/" target="_blank"> Rodan + Fields </a>
	<a class="custom-btn btn-8" href="https://www.draytoneducation.com/" target="_blank"> Drayton Education </a>
	<a class="custom-btn btn-8" href="http://167.71.106.162/" target="_blank"> TiTi Rachael Says (My Blog) </a>

  </div>
{% endblock %}
