{% extends "base.html" %}

{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="wrap">
	<div class="profile">
	  <div class="photo">
		<div class="img"></div>
	  </div>
	  <br>
	  <span class="profile_name">Rachael Drayton</span>
	  <br>
	  <p>
		I'm Rachael, and I'm thrilled to have you here. Below you will find some links to my websites: skin + hair care, tutoring and CEUs, and my personal blog!
	  </p>
	</div>
	<a class="custom-btn btn-8" href="https://rdrayton.myrandf.com/en-us/" target="_blank"> Rodan + Fields </a>
	<a class="custom-btn btn-8" href="https://www.draytoneducation.com/" target="_blank"> Drayton Education </a>
	<a class="custom-btn btn-8" href="https://www.titirachaelsays.com/" target="_blank"> TiTi Rachael Says (My Blog) </a>

  </div>
{% endblock %}
